<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tw.longerrelationship">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 搜索其他app的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动 -->
    <queries android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LongerRelationShip">
        <activity android:name=".test.TestActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".test.ShowActivity">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".views.activity.ToDoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.FavoritesAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.PictureInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/pictureInfoActivityTheme" />
        <activity
            android:name=".views.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransitionTheme" />
        <activity
            android:name=".views.activity.DairyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransitionTheme" />
        <activity
            android:name=".views.activity.BrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.PhotoAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.AlbumImageInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.SecretActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.DairyEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.activity.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activity.SplashActivity"
            android:theme="@style/launchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransitionTheme" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NkvIZCqbupkxwtbIqXSruiAQaZjGRiUY" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>